@model StudentPortalMVC.Models.ClassSchedule

@{
    ViewBag.Title = "Edit Class Schedule Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-title">Edit Class Schedule Entry</h2>

@using (Html.BeginForm("EditClassSchedule", "AdminClassSchedule", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Class Schedule Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ClassScheduleId) @* Hidden field for ClassScheduleId *%

            <div class="form-group mb-3">
                @Html.LabelFor(model => model.CourseId, "Course", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CourseId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(model => model.TeacherId, "Teacher", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("TeacherId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TeacherId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(model => model.DayOfWeek, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @* Using a dropdown for DayOfWeek, make sure to pre-select the current value *@
        @Html.DropDownListFor(model => model.DayOfWeek, new SelectList(new[]
        {
            new { Value = 1, Text = "Monday" },
            new { Value = 2, Text = "Tuesday" },
            new { Value = 3, Text = "Wednesday" },
            new { Value = 4, Text = "Thursday" },
            new { Value = 5, Text = "Friday" },
            new { Value = 6, Text = "Saturday" },
            new { Value = 7, Text = "Sunday" }
        }, "Value", "Text", Model.DayOfWeek), "Select Day", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.DayOfWeek, "", new { @class = "text-danger" })
    </div>
   

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control", type = "time" } })
            @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control", type = "time" } })
            @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.RoomNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RoomNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RoomNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group mb-3">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Back to List", "ManageClassSchedule", "AdminClassSchedule", null, new { @class = "btn btn-secondary ms-2" })
        </div>
    </div>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}